
{% assign mypages = site.html_pages | sort: "order" %} {% for page in mypages %}
{% unless page.exclude %}
<wrap>
 <a href="{{page.url|absolute_url}}"> <div class="video-container-cover">
             <video id="video-cover" width="200px" autoplay muted loop>
                 <source src="{{page.video}}" type="video/mp4">
                 <source src="{{page.video}}" type="video/ogg">
                   Your browser does not support HTML5 video.
             </video>
      </div></a>
</wrap>
 {% endunless %}
 {% endfor %}
