<style>
* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */

.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width: 80%;
}

.right {
  width: 20%;
}

/* Clear floats after the columns */

.row:after {
  content: ".";
  display: table;
  clear: both;
}
</style>

<div class="row">
  <div class="column left" style="background-color:silver;">
    <p>{% include portrait.html %}</p>
  </div>
  <div class="column right" style="background-color:silver;">
    <p>{% include memo.html %}</p>
  </div>
</div>

<br>
