<h1>Магазин «{{ site.title }}»</h1>

<p class="memo">Здесь можно подобрать дизайнерское мультимедийное наполнение для квартиры или общественного пространства, подписать договор на монтаж и запуск, видео-стены или мультимедийной инсталляции</p>


<p>+----------------------------+</p>
<p>|  Магазин «Гром и молния»   |</p>
<p>| https://multimedia-loom.ml |</p>
<p>+----------------------------+</p>
<p>| Видео          | 13000     |</p>
<p>+----------------+-----------+</p>
<p>| Компьютер      | 20000     |</p>
<p>+----------------+-----------+</p>
<p>| Проектор       | 42000     |</p>
<p>+----------------+-----------+</p>
<p>| Всего          | 55000     |</p>
<p>+----------------+-----------+</p>
