<h1>Магазин «{{ site.title }}»</h1>

<p class="memo">Здесь можно подобрать дизайнерское мультимедийное наполнение для квартиры или общественного пространства, подписать договор на монтаж и запуск, видео-стены или мультимедийной инсталляции</p>

<pre>
+----------------------------+
|                            |
|  Магазин «Гром и молния»   |
| https://multimedia-loom.ml | +----------------------------+
| Видео          | 13000     |
+----------------+-----------+
| Компьютер      | 20000     |
+----------------+-----------+
| Проектор       | 42000     |
+----------------+-----------+
| Всего          | 55000     |
+----------------+-----------+
</pre>


<pre>
 
_|     _|       _|
_|_|_|  _|_|     _|    _|   _|   _|_|_|_|
_|    _|    _|   _|    _|   _|     _|       _|
_|    _|    _|   _|    _|   _|     _|       _|
_|    _|    _|     _|_|_|   _|       _|_|   _|



_|
_|     _|_|       _|_|     _|_|_|  _|_|
_|   _|    _|   _|    _|   _|    _|    _|
_|   _|    _|   _|    _|   _|    _|    _|
_|     _|_|       _|_|     _|    _|    _|

</pre>
