<h1>Магазин «{{ site.title }}»</h1>

<p class="memo">Здесь можно подобрать дизайнерское мультимедийное наполнение для квартиры или офиса, например, проекционной видео-стены c проекцией</p>

<pre>

_|     _|       _|
_|_|_|  _|_|     _|    _|   _|   _|_|_|_|
_|    _|    _|   _|    _|   _|     _|       _|
_|    _|    _|   _|    _|   _|     _|       _|
_|    _|    _|     _|_|_|   _|       _|_|   _|



_|
_|     _|_|       _|_|     _|_|_|  _|_|
_|   _|    _|   _|    _|   _|    _|    _|
_|   _|    _|   _|    _|   _|    _|    _|
_|     _|_|       _|_|     _|    _|    _|

</pre>
