<img src="{{ site.url }}/identity/index.gif" alt="Зевс и Гера"></img>

<marquee behavior="scroll" scrollamount="17" direction="down" height="400px" loop="-1" style="border:0px" width="100%" padding="10px" onmouseover="this.stop();" onmouseout="this.start();">

{% assign mypages = site.html_pages | sort: "order" %} {% for page in mypages %}
{% unless page.exclude %}

 <a href="{{page.url|absolute_url}}"> <div class="video-container-marquee">
             <video id="marquee-video" width="100%" autoplay muted loop>
                 <source src="{{page.video}}" type="video/mp4">
             </video>
      </div></a>
 {% endunless %}
 {% endfor %}
</marquee>
