<div class="row">
  <div class="column left" style="background-color:silver;">
<p>{% include left.html %}</p>
  </div>
  <div class="column right" style="background-color:silver;">
    <p>{% include right.html %}</p>
  </div>
</div>

|<div class="video-wrapper-left">
  <video id="left" width="auto" autoplay muted loop>
    <source src="{{page.video}}" type="video/mp4">
    <source src="{{page.video}}" type="video/ogg">
    Your browser does not support HTML5 video.
  </video></div>|<div class="video-wrapper-middle">
  <video id="middle" width="auto" autoplay muted loop>
    <source src="{{page.video}}" type="video/mp4">
    <source src="{{page.video}}" type="video/ogg">
    Your browser does not support HTML5 video.
  </video></div>|<div class="video-wrapper-right">
  <video id="right" width="auto" autoplay muted loop>
    <source src="{{page.video}}" type="video/mp4">
    <source src="{{page.video}}" type="video/ogg">
    Your browser does not support HTML5 video.
  </video></div>|
|Аренда|Квартира|Пространство|
|Сет 1|Сет 2|Сет 3|
