<div class="row">
  <div class="column left">
<p>{% include left.html %}</p>
  </div>
  <div class="column right">
    <p>{% include right.html %}</p>
  </div>
</div>


<table>
  <tr>
    <th>
      <div class="video-wrapper-left">
      <video id="left" width="150" autoplay muted loop>
        <source src="{{page.video}}" type="video/mp4">
        <source src="{{page.video}}" type="video/ogg">
        Your browser does not support HTML5 video.
      </video></div></th>
    <th><div class="video-wrapper-middle">
      <video id="middle" width="100" autoplay muted loop>
        <source src="{{page.video}}" type="video/mp4">
        <source src="{{page.video}}" type="video/ogg">
        Your browser does not support HTML5 video.
      </video></div></th>
    <th><div class="video-wrapper-right">
      <video id="right" width="50" autoplay muted loop>
        <source src="{{page.video}}" type="video/mp4">
        <source src="{{page.video}}" type="video/ogg">
        Your browser does not support HTML5 video.
      </video></div></th>
  </tr>
  <tr>
    <td>Квартира</td>
    <td>Зал</td>
    <td>Улица</td>
  </tr>
  <tr>
    <td>100</td>
    <td>200</td>
    <td>300</td>
  </tr>
</table>
