<table class="top" style="width:100%">
<tr>
    <td>Название: <span class="toptable-meta">{{page.title}}</span></td>
    </tr>
    <tr>
  <td>{{ page.originlang }}: <span class="toptable-meta">{{ page.originspell }}</span></td>
  </tr>
    <tr>
    <td>Автор: <span class="toptable-meta">{{page.author}}</span></td>
    </tr>
    <tr>
    <td>Год создания: <span class="toptable-meta">{{page.birth}}</span></td>
    </tr>
  <tr>
    <td>Размер: <span class="toptable-meta">{{ page.size }}</span></td>
  </tr>
  <tr>
    <td>Длительность: <span class="toptable-meta">{{ page.duration-hours}}:{{ page.duration-minutes}}:{{ page.duration-seconds }}</span></td>
  </tr>
  <tr>
    <td>Всего в секундах: <span class="toptable-meta">{{ page.duration-hours | divided_by: 3600 }}</span></td>
  </tr>
  <tr>
    <td>Всего: <span class="toptable-meta">{% include total-price-seconds.html %}</span></td>
  </tr>
    <tr>
    <td>Владелец: <span class="toptable-meta">{{ page.owner }}</span></td>
  </tr>
</table>
