<table class="top" style="width:100%">
<tr>
    <td>Название: <span class="toptable-meta">{{page.title}}</span></td>
    </tr>
    <tr>
        <td>{{ page.originlang }}: <span class="toptable-meta">{{ page.originspell }}</span></td>
  </tr>
    <tr>
    <td>Автор: <span class="toptable-meta">{{page.author}}</span></td>
    </tr>
    <tr>
    <td>Год создания: <span class="toptable-meta">{{page.birth}}</span></td>
    </tr>
  <tr>
    <td>Размер: <span class="toptable-meta">{{ page.size }}</span></td>
  </tr>
  <tr>
    <td>Город: <span class="toptable-meta">{{ page.city }}</span></td>
  </tr>
  <tr>
    <td>Выставлено: <span class="toptable-meta">{{ page.venue }}</span></td>
  </tr>

    <tr>
    <td>Владелец: <span class="toptable-meta">{{ page.owner }}</span></td>
  </tr>
</table>
