<!DOCTYPE html>
<head>
{% include facebook.html %}
{% include yandex.html %}
{% include google.html %}
{% include meta.html %}
{% include favicon.html %}
</head>
<body>
{% include top.html %}
{{ content }}
{% include topblock.html %}
{% include share-edit.html %}
{% include footer-1.html %}
{% include footer-2.html %}
<div class="container">
<a href="index"><img alt="Indexmod" src="/identity/indexmod-2018.png" style="width:auto;height:auto;border:0;"></a>
</div>
<p>2018 — {{ site.time | date: "%Y" }} © Выставка-продажа</p>
</body>
</html>
